# protect google key
/app/google-services.json

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/.idea

.lo1
/docs/LoopingImage.jpg
/.kotlin/errors/errors-1772211636386.log

*.jks
docs/keyapp